.form {
    width: 300px;
    /* margin-top: 20px; */
  }
  
  .label {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 16px; */
  }
  
  .loginFormInput {
    margin-top: 5px;
    width: 300px;
    height: 30px;
    transition: border 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .loginFormInput:hover,
  .loginFormInput:active {
    outline: none;
    border: 2px solid #1a71ce;
  }
  
  .loginFormBtn {
    padding: 5px 10px;
    transition: border-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
      background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
      color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .loginFormBtn:hover,
  .loginFormBtn:active {
    border-color: #1a71ce;
    background-color: #2e71ba;
    color: white;
  }