.nav {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: 200px;
}

.linkActive {
    color:blue;
    font-weight: 400px;
    text-decoration: none;
}