.nav {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    padding: 10px 0;
    background-color: rgb(93, 150, 197);
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 500px;
    font-size: larger;
    

}

.link {
    text-decoration: none;
    color: black;
    font-size: larger ;
    font-weight: lighter;
}

.linkActive {
    color:blue;
    font-weight: 500px;
    text-decoration: none;
    font-size: larger;
}

.link:hover {
    color: #0056b3;
    font-weight: bold;
    
}